.app-header {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;

  &__logo {
    cursor: pointer;
  }
}

.left {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: white;
  font-size: 24px;

  span {
    color: #26a677;
  }
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 16px;

  &__list {
    display: flex;
    padding: 0;
    gap: inherit;

    &-item {
      padding: 0 16px;
      color: white;
      transition: color 0.2s;

      &:hover {
        color: #c6c6c6;
        transition: color 0.2s ease-in-out;
      }
    }
  }

  &__vertical-line {
    width: 1px;
    height: 32px;
    background-color: #00e583;
  }

  &__social-media {
    display: flex;
    gap: inherit;
    transition: 0.2s;

    a {
      color: white;

      &:hover {
        opacity: 0.8;
        transition: 0.2s;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 660px) {
  .left {
    span,
    p {
      display: none;
    }
  }
}
