.firstSection {
  display: grid;
  grid-gap: 32px;
  gap: 32px;

  grid-template-columns: 1fr 1fr;
  align-items: center;

  color: white;
  padding: 0 2rem;
}

.container {
  display: flex;
  justify-content: center;
}

.left {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  p {
    font-size: 72px;
    line-height: 80px;
  }

  span {
    color: #00e583;
  }

  .btn-group {
    display: flex;
    gap: 32px;
  }
}

.right {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  padding-bottom: 2rem;
  color: white;
  white-space: nowrap;

  &-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .firstSection {
    grid-template-columns: 1fr;
    padding-bottom: 32px;
  }

  .left {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .left {
    p {
      font-size: 40px;
      line-height: 48px;
      padding: 1rem 0;
    }
  }

  .bottom {
    padding: 0 2rem;
    gap: 0;
    flex-direction: column;

    span {
      width: 25%;
    }
  }
}
