.firstSection {
  display: grid;
  grid-gap: 32px;
  gap: 32px;

  grid-template-columns: 1fr 1fr;
  align-items: center;

  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.left {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  p {
    font-size: 48px;
  }

  span {
    color: #00e583;
  }

  .btn-group {
    display: flex;
    gap: 32px;
  }
}

.right {
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  color: white;
  white-space: nowrap;

  &-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .firstSection {
    grid-template-columns: 1fr;
    padding-bottom: 32px;
  }

  .left {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .left p {
    font-size: 24px;
  }
  .bottom {
    display: none;
  }
}
